/* sebastian roca / 
   fucking website la
   In partial fulfillment for Bachelor of Science in Infromation Technology
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	    background: #d81717;
	color: #e8ecf2;
	font-family: 'Raleway', sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* FOR SMOOTH TRANSITION EFFECT */
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.main_wrapper{
	width:1000px;
	height:auto;
	margin:auto;
	
}

.header_wrapper{
	width:100%;
	height:100px;
	margin:auto;
}

.header_wrapper h1{
	display:inline;
	color:#e6e6e6;
	font-size:70px;
	line-height:120px;
	transition: all 0.3s ease-in-out;
}

.header_wrapper h1:hover{
	color: #000000;
	text-shadow: 2px 2px 5px black;
	transition: all 0.3s ease-in-out;
}

.header_wrapper span{
	color: #000000;
	transition: all 0.3s ease-in-out;
}

.header_wrapper h1:hover span{
	color: #e6e6e6;
	text-shadow: 2px 2px 5px black;
	transition: all 0.3s ease-in-out;
}

.imagedropshadow {
    border: solid 1px #EFEFEF;
	transition: all 0.3s ease-in-out;
}

#imgcart{
	width:98px;
	height:98px;
	float:right;
	display:inline;
	position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	border-radius:20px;
}

.header_wrapper a:hover img.imagedropshadow{
	border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
	transition: all 0.3s ease-in-out;
	
}

.menubar{
	width:1000px;
	height:45px;
	margin:auto;
	background-image: url('../images/list_bg.png');
	background-repeat: repeat-x;
	color: #e6e6e6;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	text-decoration:none;
}

#menu{
	margin:0px;
	padding:0px;
	line-height:40px;
	float:left;
}

#menu li{
	display:inline;
	list-style: none;
}

#menu li a{
	color: #e6e6e6;
	text-decoration: none;
	font-size: 18px;
	padding:9px;
	margin:5px;
}

#menu li a:hover , #menu li.current_list_item a{
	color:white;
	font-weight:bolder;
}

#form{
	float:right;
	line-height:40px;
	padding-right:8px;
	}

.searchfrm{
	border-radius:5px;
}

.searchbtn{
    background-color: white;
    color: black;
    border: 2px solid #555555;
	transition: all 0.3s ease-in-out;
}

.searchbtn:hover {
    background-color: #555555;
    color: white;
	transition: all 0.3s ease-in-out;
}


.content_wrapper{
	width:1000px;
	height:800px;
	margin:auto;
}

#content_area{
	overflow-y:scroll;
	width:800px;
	height:750px;
	float:right;
	background-color: rgba(0, 0, 0, 0.3);
}

#sidebar{
	width:200px;
	height:800px;
	background-color: rgba(0, 0, 0, 0.7);
	float:left;
	overflow:auto;
}

#sidebar_title{
	width:200px;
	background:white;
	color:black;
	font-size:22px;
	padding:10px;
}

#cats{
	text-align:center;
}

#cats li{
	list-style:none;
	margin:5px;
}

#cats a{
	color:white;
	font-size:18px;
	padding:8px;
	margin:5px;
	text-decoration:none;
}

#cats a:hover{
	font-weight:bolder;
	text-decoration:underline;
}

#products_box{
	text-align:center;
	margin-left:30px;
}

#products_box td{
    vertical-align:middle;
	padding:10px;
}

#single_product{
	float:left;
	margin-left:20px;
	padding:10px;
	height:300px;
	width:300px;
}
	
	#single_product img {border:2px solid black;}
	
	.shopping_cart {background-color: rgba(0, 0, 0, 0.5);float:right;width:800px; height:50px; color:white;}

#footer{
	width:1000px;
	height:50px;
	background-color: rgba(0, 0, 0, 0.5);
	clear:both;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	color:#fff;
	text-align:center;	
	font-size:13px;
	line-height:50px;
}

#footer a{
	text-decoration:none;
	color: #e6e6e6;
}

#footer a:hover {
	color:grey;
	transition: all 0.3s ease-in-out;
}

div#upper-content{
	color: white;
	margin-left:20px;
	margin-top: 5px;
	width:740px;		
}
div#lower-content{
	color: white;
	margin-left:20px;
	margin-top: 30px;
	width:740px;
	height:230px;
}

#lower-content p{
	font-size: 12px;
}

div#welcome{
	padding:20px;
	margin:20px;
}

h2{
	font-size:30px;
}

div#image{
	background-image: url('../images/SSLOGO1.jpg');
	width: 676px;
	height: 300px;
	margin-left: 45px;
	background-attachment: inherit;		
}

div#column-header{
	float:left;
	width:272px;
	position:relative;
	
}

div#get-in-touch{
	position:relative;
	float:right;
	width:160px;
}
ul#contact-list{
	margin-left:-35px;
	list-style:none;
	font-size:small;
	height:125px;		
}

#column-header h3{
	font-size:30px;
}

ul#contact-list a{
	width: 100%;
	font-size:20px;		
}

ul#contact-list li{
    display:block;
	background-image: url('../images/flickr-box.png');
	margin-bottom:7px;
	height:18px;
	width:180px;
}
ul#contact-list li input{
	border-style:none;
	width:140px;
	height:12px;
	font-size:x-small;
	color:white;
	background-color:#6C6C6C;
	opacity:0.7;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10); 
	
	/* FOR SMOOTH TRANSITION EFFECT */
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
ul#contact-list li input:focus{
	opacity:1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
	color:white;	
}
ul#contact-list li#message{
    width:180px;
    height:80px;
}
ul#contact-list li#message textarea{
	width:172px;
	background-color:#6C6C6C;
	border-style:none;
	opacity:0.7;
	color:white;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10); 
	/* FOR SMOOTH TRANSITION EFFECT */
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
ul#contact-list li#message textarea:focus{
	opacity:1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
	color:white;	
}
div#get-in-touch a{
	color:#e6e6e6;
	text-decoration:none;
	float:right;
	font-size:large;
	margin-top:5px;
}

div#get-in-touch a:hover{
	color:white;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
