/* sebastian roca / 
   fucking website la
   In partial fulfillment for Bachelor of Science in Infromation Technology
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a{
 transition: all ease .3s;
}

body {
	color: #e6e6e6;
	font-family: 'Raleway', sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* FOR SMOOTH TRANSITION EFFECT */
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}

body:after {
  content: "";
  background: url(../images/bgpink.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}
@font-face {
    font-family: preciousFont;
    src: url(fonts/precious.ttf);
}

@font-face {
    font-family: gentleFont;
    src: url(fonts/gentle.ttf);
}

.header_wrapper {
    width: 100%;
    height: 100px;
    z-index: 10;
    background-color: #000000ab;
}

.header {
    margin: auto;
	height: 100%;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    text-align: right;
}

.header h1 {
    color: #797778;
    font-size: 60px;
    transition: all 0.3s ease-in-out;
    font-family: gentleFont;
    letter-spacing: 5px;
}

.header_wrapper h1:hover{
	color: #f11d87;
	text-shadow: 2px 2px 5px black;
	transition: all 0.3s ease-in-out;
}

.header_wrapper span{
	color: #f11d87;
	transition: all 0.3s ease-in-out;
}

.header_wrapper h1:hover span{
	color: #797778;
	text-shadow: 2px 2px 5px black;
	transition: all 0.3s ease-in-out;
}

.imagedropshadow {
    border: solid 1px #EFEFEF;
	transition: all 0.3s ease-in-out;
}

.header_wrapper a:hover img.imagedropshadow{
	border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
	transition: all 0.3s ease-in-out;
	
}

span.my_account {
    border: 1px solid #777;
    box-shadow: 0 0 5px #444;
    padding: 5px;
    margin: 0px 20px;
    font-size: 18px;
    border-radius: 10px;
    background: #ffcc00;
}

.my_account a{
	color: #fefefe !important;
	font-weight: 700;
}

.my_account a:hover{
	color: #000 !important;
	font-weight: 700;
}

.menu_wrapper {
    display: inline-block;
    width: 74.6%;
    height: 100%;
    padding: 35px 0px;
}

.menubar {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

#menu{
	display: inline-block;
    text-align: center;
    width: 70%;
}

#menu li{
	display:inline-block;
	list-style: none;
}

#menu li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 9px;
    margin: 5px;
    font-family: gentleFont;
    letter-spacing: 3px;
}

#menu li a:hover , #menu li.current_list_item a{
	/* color:white; */
	font-weight:bolder;
}


.search_form{
	display: inline-block;
	float: right;
	padding-right: 20px;
}

.search_form form {
    text-align: right;
}

.searchfrm {
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    text-align: center;
    font-weight: 600;
}

.searchbtn {
    background-color: #f11d87;
    color: white;
    transition: all 0.3s ease-in-out;
    height: 30px;
    font-weight: 900;
    font-family: arial;
    border-radius: 5px;
    width: 90px;
    text-transform: uppercase;
}

.searchbtn:hover {
    background-color: white;
    color: #f11d87;
	transition: all 0.3s ease-in-out;
}

.main_wrapper{
	margin-top: 20px;
    max-width: 1000px;
    z-index: 5;
    position: relative;
    margin-left: auto;
    margin-right: auto;
	box-shadow: 0px 0px 10px #222222;
}

.login_details{
	float: right;
    padding: 10px;
	color: black;
	font-weight: 700;
	margin: 20px 20px 0px
}

.login_details b{
	color: black;
}


.shopping_cart {
    background-color: rgba(214, 71, 158, 0.63);
    padding: 10px;
}


#imgcart {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 3px;
	vertical-align: middle;
}

#imgcart:hover {
    background: white;
    border: solid 1px #666666;
}

.shopping_details {
    width: 49%;
    vertical-align: middle;
	display: inline-block;
}

span.item_details {
    color: black;
}

.content_wrapper{
	margin:auto;
	display: flex;
}

#content_area{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #777;
}

div#upper-content {
    color: white;
    width: 100%;
    display: table;
}

#sidebar {
    background: #444;
    display: table-cell;
    vertical-align: -webkit-baseline-middle;
    width: 20%;
    border-right: 1px solid #4c4c4c;
}

#sidebar_title {
    width: 100%;
    background: #ffffff00;
    color: #f12f86;
    font-size: 60px;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    font-family: gentleFont;
}

#cats{
	text-align:center;
}

#cats li {
    list-style: none;
    margin: 10px;
    font-family: gentleFont;
}

.my_account_menu li {
    list-style: none;
    margin: 10px;
    font-family: gentleFont;
    display: inline-block;
}

.my_account_menu li a{
    font-size: 30px !important;
}


#cats a{
	color:white;
	font-size:25px;
	padding:8px;
	margin:5px;
	text-decoration:none;
}

#cats a:hover{
	font-weight:bolder;
	text-decoration:underline;
}

.upper_content {
    display: table;
    width: 100%;
}

.main_content {
    text-align: center;
	padding: 20px;
}

.content_up {
    background: #444;
    color: #ddd;
    padding: 20px;
    text-align: center;
}
.content_low{
	background: pink;
    color: #222222;
    padding: 20px;
	text-align: center;
}

.content_low h3{
    font-size: 55px;
    font-weight: 600;
    font-family: gentleFont;
    letter-spacing: 3px;
}

.home_img {
    background-image: url(../images/SSLOGO1.jpg);
    height: 400px;
    border: 1px solid #666666;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	padding: 100px;
}
div#login_box {
    width: 500px;
    margin: auto;
    border: 1px solid #777;
    height: 300px;
    background-color: #656565e3;
    border-radius: 20px;
}

#login_box .field-group {
    padding: 10px;
}

#login_box form {
    margin-top: 20px;
}

#login_box label {
    font-size: 20px;
}

#login_box input {
    height: 35px;
    width: 220px;
    font-size: 18px;
    padding: 10px;
}

#login_box .login{
    height: 40px;
    width: 150px;
    background-color: #ffcc00;
    border: 1px solid #444;
    box-shadow: 0 0 5px #444;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

#products_box {
    text-align: center;
    margin: auto;
    width: 100%;

}

.checkout_box {
    background: #000000c2;
    height: 200px;
    padding: 25px;
}

.payment_box{
	padding: 50px 20px;
	background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #777;
}

.payment_box input {
	border-style: none;
    width: 300px;
    height: 40px;
    font-size: 16px;
    color: black;
    background-color: #dadada;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 5px;
    border: 1px solid #666;
	padding: 5px;
	border-radius: 3px;
}

.payment_box select{
	border-style: none;
    width: 300px;
    height: 40px;
	font-size: 16px;
    color: black;
    background-color: #dadada;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 5px;
    border: 1px solid #666;
	border-radius: 3px;
}
.payment_box li{
	font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

div#cart_box {
    width: 100%;
}


.cart_btn input{
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    box-shadow: 0px 0px 5px #777;
    cursor: pointer;
}

#cart_box th {
    font-size: 25px;
    font-weight: 700;
    color: #222;
}

#cart_box td {
    vertical-align: middle;
    padding: 20px 0;
}


#cart_box table {
    width: 100%;
}

#cart_box form {
    display: table;
	width: 100%;
}

.cart-btn-wrap {
    width: 100%;
}

.cart-btn {
    display: inline-grid;
    width: 150px;
    height: 40px;
    margin: 50px;
}

.cart-btn input {
    font-weight: 700;
}

.cart-btn input:hover {
    color: pink;
    cursor: pointer;
}

#cart_box span {
    display: table-cell;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.check_out {
    border: 4px solid pink;
    width: fit-content;
    padding: 20px 50px 20px 50px;
    margin: auto;
	border-radius: 10px;
}

.check_out button {
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 0 10px #444;
    background-color: pink;
    border-radius: 5px;
    border: none;
}

.check_out button a{
	color: white !important;	
}
.check_out button a:hover{
	color: black !important;	
}


.confirm_details{
	background-color: #ffcc00 !important;
    font-weight: 900;
    height: 50px;
    padding: 5px;
    border: 1px solid #666;
    box-shadow: 0px 0px 5px #000;
}

#products_box td{
    vertical-align:middle;
	padding:10px;
}

#single_product {
    display: inline-block;
    width: 40%;
    border: 2px solid #ffc0cb96;
    margin: 10px;
    padding: 30px;
}
	
#single_product img {
	border:2px solid black;
	margin: 10px;
}

div#lower-content {
    color: #222;
    width: 100%;
    padding-bottom: 100px;
    font-weight: 700;
	background-color: #e4e4e4;
}

#lower-content p {
    font-size: 30px;
    text-align: center;
}

h2{
	font-size:30px;
}

div#column-header{
	margin:2 20px;	
}

div#get-in-touch {
    display: table;
    width: 100%;
    padding: 20px;
}

.git_left {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
}

.git_left p{
    font-size: 30px;
}

.git.right {
    display: table-cell;
    width: 60%;
}

div#get-in-touch h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

ul#contact-list {
    text-align: center;
    list-style: none;
    font-size: small;
    width: 400px;
    margin: auto;
}

#column-header h3{
	font-size:30px;
}

ul#contact-list a{
	width: 100%;
	font-size:20px;		
}

ul#contact-list li {
	font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

ul#contact-list li input {
    border-style: none;
    width: 300px;
    height: 40px;
    font-size: 16px;
    color: black !important;
    padding: 5px;
    background-color: #fefefe;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 5px;
    border: 1px solid #666;
    border-radius: 3px;
	font-weight: 700;
}

ul#contact-list li#message {
    width: 100%;
    font-size: 20px;
}

#contact-list li textarea{
    width: 100%;
    background-color: #fefefe;
    border-style: none;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #666;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
	font-weight: 700;
}

div#get-in-touch a {
    color: #ffcc00;
    font-size: 30px;
    text-transform: uppercase;
}

div#get-in-touch a:hover{
	color:white;
}

.footer_wrapper{
    background-color: rgba(25, 24, 24, 0.75); 
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 50px;
    padding-top: 80px;
    margin-top: -50px;
}

#footer a{
	text-decoration:none;
	color: #e6e6e6;
}

#footer a:hover {
	color:grey;
	transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
